.game-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  border-bottom: 2px solid black;
  padding-bottom: 35px;
}

.game-overview-box {
  padding-bottom: 25px;
}

.rank-box {
  width: 15%;
  dispay: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: serif;
  text-align: center;
}

.name-box {
  font-size: 28px;
  font-family: serif;
  padding-bottom: 20px;
}

.game-detail-box {

}
